.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f5faf8;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  gap: 0rem;
  margin-inline-end: 30rem;
  font-size: 20px;
  font-weight: 600;
  @media screen and (max-width:850px) {
    gap:2rem;
    padding: 0 auto;
    font-size: 17px;
    font-weight: 500;
  }

  img{
    @media screen and (max-width: 480px) {
      width: 90%;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:visited {
    color: initial;
  }

  a:first-child {
    color: #1cb484;
  }
  // }
}
