.footer{
    background-color: #F5FAF8;
    padding: 4px 0;
    text-align: center;
    font-size: 16px;
    // position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    span{
        color: #1CB484;
        font-weight: 600;
    }
}