/* .mainSection{
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-div{
    border: 1px solid #D9D9D9;
    width: 50%;
    margin: auto;
}

.selectBtn{
    background-color:  "#D9D9D9";
    width: 338.97px;
    height: 62.53px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:black;
    text-align: center;
   margin: auto;
    border: 1px solid #D9D9D9

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;


} */



