.tax-form {
    display: grid;
    gap: 20px;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
    font-family: Inter;
    font-size: 20px;
    // font-weight: 00;
    line-height: 22px;
    letter-spacing: 0em;

    .label {
        display: flex;
        justify-content: space-between;

        input {
            border: 1px solid #1cb484;
            border-radius: 5px;
            min-height: 24px;
            font-size: 18px;
            padding: 4px;
        }

        input:focus {
            outline-style: groove;
            outline-width: 2px;
            outline-color: #1cb484;
        }

        .select {
            select:focus {
                outline-color: #1cb484;
            }
        }
    }

    .label-radio {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        
        input {
                border: 1px solid #1cb484;
                border-radius: 5px;
                min-height: 24px;
                font-size: 18px;
                padding: 4px;
                margin-top: 20PX                  ;
            }
        
            input:focus {
                outline-style: groove;
                outline-width: 2px;
                outline-color: #1cb484;
            }
    }

    .select{
        background: transparent;
            line-height: 1;
            border: 1px solid #1cb484;
            padding: 4px;
            border-radius:5px;
            // width: 60%;
            position: relative;
            z-index: 10;
            font-size: 20px;
    }

    .calculateBtn{
        display: flex;
        justify-content: center;
        .selectBtn, .selectBtnActive {
               background-color: #1cb484;
                border: none;
                border-radius: 5px;
                font-size: 20px;
                width: min-content;
                padding: 4px 24px;
                color: #ffffff;
            }
            .selectBtn{
                border: 2px solid #1cb484;
                color: #1cb484;
                background-color: #ffffff;
            }
    }
         .selectBtn,
         .selectBtnActive {
           
             background-color: #1cb484;
             border: none;
             border-radius: 5px;
             font-size: 20px;
             width: min-content;
             padding: 4px 24px;
             color: #ffffff;
         }
    
         .selectBtn {
             border: 2px solid #1cb484;
             color: #1cb484;
             background-color: #ffffff;
         }

}