<link rel="stylesheet" href="./taxResultStyle/style.css">
<div class="taxResult">
    <div class="grossSalary tab">
        <div class="grossLeft">
            <p class="grossTitle">Gross Salary</p>
        </div>
        <div class="grossRight">
            <p class="kes">KES</p>
            <p class="amount"> 546474</p>
        </div>
    </div>
    <div class="deductions tab">
        <div class="deduction">
            <div class="deductionLeft">
                <p>Net Pay</p>
            </div>
            <div class="deductionRight">
                <div class="kes">
                    <p class="kes">KES</p>
                </div>
                <div class="amount">
                    <p>5455454</p>
                </div>
            </div>
        </div>
        <div class="deduction">
            <div class="deductionLeft">
                <p>Net Pay</p>
            </div>
            <div class="deductionRight">
                <div class="kes">
                    <p class="kes">KES</p>
                </div>
                <div class="amount">
                    <p>5455454</p>
                </div>
            </div>
        </div>
        <div class="deduction">
            <div class="deductionLeft">
                <p>Net Pay</p>
            </div>
            <div class="deductionRight">
                <div class="kes">
                    <p class="kes">KES</p>
                </div>
                <div class="amount">
                    <p>5455454</p>
                </div>
            </div>
        </div>
        <div class="deduction">
            <div class="deductionLeft">
                <p>Net Pay</p>
            </div>
            <div class="deductionRight">
                <div class="kes">
                    <p class="kes">KES</p>
                </div>
                <div class="amount">
                    <p>5455454</p>
                </div>
            </div>
        </div>
        <div class="deduction">
            <div class="deductionLeft">
                <p>Net Pay</p>
            </div>
            <div class="deductionRight">
                <div class="kes">
                    <p class="kes">KES</p>
                </div>
                <div class="amount">
                    <p>5455454</p>
                </div>
            </div>
        </div>
        <div class="deduction">
            <div class="deductionLeft">
                <p>Net Pay</p>
            </div>
            <div class="deductionRight">
                <div class="kes">
                    <p class="kes">KES</p>
                </div>
                <div class="amount">
                    <p>5455454</p>
                </div>
            </div>
        </div>

    </div>


    <div class="paye tab">
        <div class="payeLeft">
            <p>PAYE</p>
        </div>
        <div class="payeRight">
            <div class="kes">
                <p>KES</p>
            </div>
            <div class="amount">
                <p>546474</p>
            </div>
        </div>
    </div>
</div>