.taxResult {
    display: grid;
    gap: 10px;
    margin-inline: 3em;

    .tab {
        display: flex;
        justify-content: space-between;
    }

    .grossRight,
    .deductionRight,
    .payeRight {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    .grossSalary,
    .paye {
        font-weight: 600;
        font-size: 22px;
    }

    .deductions{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #1cb484;
        font-size: 18px;
      //  width: 100%;
        .deduction{
            display: flex;
            justify-content: space-between;
            //color: red;
        }
    }
}