.mainSection {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #1cb484;
  max-width: max-content;
  gap: 20px;
  // height: 25cm;
  //   background-color: red;

  @media screen and (max-width: 480px) {
        width: 100%;
        gap: 10px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

  .mainContent {
    display: flex;
    justify-content: space-between;

    .selectBtn {
      width: 100%;
      padding: 8px;
      border: none;
      font-size: 24px;
      font-weight: 500;
      border-bottom: 1px solid#1CB484;
      background-color: white;

      @media screen and (max-width: 480px) {
     
          font-size: 18px;
      }
    }

    @media screen and (max-width: 480px) {
     
    
        width: 83%;
   
      margin-left: auto;
      margin-right: auto;
    }
  }


}
