
    
  @media screen and (max-width: 640px) {
    .nav-list{ display: none;}
  }

    .nav-list{
        display: flex;
        flex-wrap: wrap;
        
    }

    .nav-list>li{
        padding-right: 20px;
        list-style: none;
    }

    .menu-icon{
        display: none;
    }

    @media screen and (max-width:640px){
        .menu-icon{  display: flex;}
       
    }